:host {
  max-width: 600px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  column-gap: 10px;
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
