<h1>Task Create</h1>

<mat-form-field>
  <mat-label>Title</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput>
</mat-form-field>

<!--DATE PICKER-->
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    @for (food of [1, 2, 3]; track food) {
      <mat-option [value]="food">{{ food }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    @for (food of [1, 2, 3]; track food) {
      <mat-option [value]="food">{{ food }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    @for (food of [1, 2, 3]; track food) {
      <mat-option [value]="food">{{ food }}</mat-option>
    }
  </mat-select>
</mat-form-field>
