:host {
  display: block;
  margin: 0 auto 20px;
  max-width: 1200px;
  overflow-y: auto;
}

.task-create {
  position: fixed;
  top: 20px;
  left: 20px;
}


.select {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 200px;
}
