/* You can add global styles to this file, and also import other style files */


*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.idle {
  --mdc-chip-elevated-container-color: #ffde03;
}

.inProgress {
  --mdc-chip-elevated-container-color: lightblue;
}

.done {
  --mdc-chip-elevated-container-color: orange;
}
